@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-color: #D8C99B;
  color: #273E47;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}

.play-buttons {
  margin-bottom: 20px;
}

.play-buttons > button {
  background-color: #D8973C;
  border: 2px #BD632F solid;
  color: #273E47;
  border-radius: 8px;
  padding: 16px;
  font-size: 16px;
  opacity: 0.85;
  transition: all 0.2s;
}

.play-buttons > button:disabled {
  cursor: not-allowed;
  opacity: 0.85;
  box-shadow: none;
}

.round-result {
  margin-bottom: 20px;
}

.current-score {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.winner-message {
  margin-bottom: 20px;
}

button:hover,
#reset-button:hover {
  opacity: 1;
  box-shadow: 0px 0px 0px 2px #BD632F;
  transition: all 0.2s;
  cursor: pointer;
}

#reset-button {
  color: white;
  background-color: #A4243B;
  border: 2px #BD632F solid;
  border-radius: 8px;
  padding: 16px;
  font-size: 16px;
  opacity: 0.85;
  transition: all 0.2s;
}